.todo_body {
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.todo_item {
    min-width: 200px;
    max-width: 400px;
    background: lightblue;
    border-radius: 15px;
    padding: 5px 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.todo_id {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

.todo_text {
    font-size: 20px;
}

.todo_text.todo_complete {
    text-decoration: line-through;
}

.todo_complete {
    font-weight: bold;
    font-size: 26px;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    cursor: pointer;
}

.todo_close {
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}